.form-group{
    text-align: center;
    position: absolute;
    bottom:10%;
    left:40%;
    font-size: large;
}
.btn{
    position: absolute;
    bottom:10%;
    left:40%;
}

.form-group{
    border: 2px solid black ;
  border-radius: 40px;
  padding: 10px 100px;
  box-sizing: border-box;
  
}