<div class="rectangle">
    <h1>Welcome to The Nodal Officer Dashboard</h1></div>
<div class="container py-5">
    <img src="https://cdn1.vectorstock.com/i/1000x1000/53/05/office-clerk-icon-vector-19815305.jpg" width="300" height="250" class="center">
    <button [routerLink]="['/studentappforms']" class="btn1 btn-lg btn-dark px-5">STUDENT APPLICATION FORMS</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button [routerLink]="['/instituteregforms']"class="btn2 btn-lg btn-dark px-5">INSTITUTE REGISTRATION FORMS</button>
  </div>
